@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Playfair+Display:ital@1&family=Poppins:wght@400;500;600;700;800;900&family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
a,
a:link,
a:visited {
  text-decoration: none;
  outline: none;
  border: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #eeeeee;
}

#lasthref {
  margin-right: 15px;
}

section,
span,
p {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}
.container {
  margin: 0 auto;
}

body {
  background-image: url(../images/roadd.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  height: 8vh;
  width: 100%;
  background-color: #1b262c;
}

.header-logo {
  display: flex;
  margin-left: -5px;
  margin-top: 00.5rem;
  font-size: 16px;
}

.header-name {
  margin-left: 0px;
  margin-top: 20px;
}

.header-name h1 {
  font-size: 25px;
  color: white;
  font-family: "IM Fell English SC", serif;
}

#logo {
  width: 150px;
}

.header-menu ul {
  display: flex;
}

.header-menu li {
  color: #eeeeee;
  margin-left: 27px;
}

.header-menu a {
  font-family: "Raleway", sans-serif;
  padding: 8px 12px;
}

.header-menu a:hover {
  background-color: #787a91;
}

/* Booking */
.booking {
  margin-top: 150px;
  margin-bottom: 150px;
  width: 950px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.booking-row {
  display: block;
  justify-content: center;
  align-items: center;
}

.booking-column {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid white;
}
.carimage {
  width: 615px;
  height: 292px;
}
.carimg img {
  margin-bottom: 50px;
  border: 2px solid #cccccc;
  background-color: #ffffff;
  padding: 1px;
  height: 70%;
  width: 70%;
}

.price {
  margin-bottom: 30px;
}

.booking-button {
  margin-top: 20px;
  margin-right: 40px;
}

.booking-button input {
  padding: 6px 10px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}
.descriptiontext {
  margin-right: 35px;
}
.descriptiontext textarea {
  width: 300px;
  height: 73px;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color: white;
  text-align: center;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #eaeaea;
  border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
  background-color: #596971;
}
.price input[type="text"] {
  background-color: rgba(0, 0, 0, 0);
  padding: 7px;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.price input::placeholder {
  color: white;
  font-size: large;
}

.select-part {
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

select {
  padding: 7px;
  width: 180px;
  margin-top: 10px;
  margin-bottom: 17px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  color: white;
}

.p-information {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.r-information {
  margin-left: 30px;
}

.date-part input[type="date"] {
  padding: 4px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  color: white;
}

.date-part input[type="time"] {
  padding: 3px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  color: white;
}

.booking h3 {
  color: white;
  font-family: "Raleway", sans-serif;
  margin-bottom: 2px;
}

.booking h1 {
  color: white;
  font-family: "Raleway", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 10px;
}

.radio-type {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.radio-type label {
  color: white;
  margin-right: 8px;
}

/* Footer */
.footer-container {
  max-width: 1170px;
  margin: auto;
}
.footer-row {
  display: flex;
}
.footer-ul {
  list-style: none;
}

footer {
  background-color: #222831;
  height: auto;
  width: 100vw;
  padding: 70px 0;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #eeeeee;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e00000;
  height: 2px;
  box-sizing: border-box;
  width: 70px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
  height: 30px;
}

.footer-col ul li a:hover {
  padding-left: 10px;
}

/* Responsive */

/* Header Responsive */
@media only screen and (max-width: 935px) {
  .header-menu li {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 831px) {
  .header-navbar {
    display: flex;
    flex-direction: column;
    padding: 120px 0;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 831px) {
  .header-menu a {
    font-size: 13px;
  }
}

/* Booking Responsive */
@media only screen and (max-width: 972px) {
  .booking {
    width: 800px;
  }
}
@media only screen and (max-width: 831px) {
  .booking {
    margin-top: 300px;
  }
}

@media only screen and (max-width: 831px) {
  .booking {
    width: 650px;
  }
}

@media only screen and (max-width: 700px) {
  .booking {
    width: 450px;
  }
  select {
    width: 150px;
  }
}

@media only screen and (max-width: 539px) {
  .booking {
    width: 400px;
  }
}

/* Footer Responsive */
@media only screen and (max-width: 790px) {
  .footer {
    padding: 120px;
  }

  .footer-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-col {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 590px) {
  .footer-row {
    float: left;
  }
}
