@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Playfair+Display:ital@1&family=Poppins:wght@400;500;600;700;800;900&family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
a,
a:link,
a:visited {
  text-decoration: none;
  outline: none;
  border: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #eeeeee;
}

#lasthref {
  margin-right: 15px;
}

section,
span,
p {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}
.container {
  margin: 0 auto;
}

body {
  background-image: url(../images/roadd.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  height: 8vh;
  width: 100%;
  background-color: #1b262c;
}

.header-logo {
  display: flex;
  margin-left: -5px;
  margin-top: 00.5rem;
  font-size: 16px;
}

.header-name {
  margin-left: 0px;
  margin-top: 20px;
}

.header-name h1 {
  font-size: 25px;
  color: white;
  font-family: "IM Fell English SC", serif;
}

#logo {
  width: 150px;
}

.header-menu ul {
  display: flex;
}

.header-menu li {
  color: #eeeeee;
  margin-left: 27px;
}

.header-menu a {
  font-family: "Raleway", sans-serif;
  padding: 8px 12px;
}

.header-menu a:hover {
  background-color: #787a91;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Car List */
.carlist-container {
  margin-bottom: 0px;
}
.carlist-row {
  min-height: 500px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.carlist-row-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid white;
}
select {
  padding: 7px;
  width: 180px;
  margin-top: 10px;
  margin-bottom: 7px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  color: white;
}
option {
  background-color: black;
}
.select-part {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.date-part {
  margin-top: 15px;
  margin-right: 20px;
  margin-bottom: 15px;
}
.date-part input[type="date"] {
  padding: 7px;
  width: 180px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  color: white;
}

.carlist-column {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 10%;
  height: 425px;
  width: 300px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #476072de 0%, #064663c0 100%);
}

.carlist-column:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.carlist-image {
  margin: 10px 10%;
  height: 40%;
  width: 80%;
}

.carlist-column h2 {
  text-align: center;
}

#climage {
  border: 2px solid #cccccc;
  background-color: #ffffff;
  padding: 1px;
  height: 100%;
  width: 100%;
}
.description {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description img {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

.imgp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgp h4 {
  margin-right: 9px;
}

.button input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid black;
  padding: 10px 8px;
  width: 90px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25px;
  cursor: pointer;
}

.searchbutton input {
  border: 2px solid white;
  border-radius: 3px;
  padding: 2px 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

/* Footer */
.footer-container {
  max-width: 1170px;
  margin: auto;
}
.footer-row {
  display: flex;
}
.footer-ul {
  list-style: none;
}

footer {
  background-color: #222831;
  height: auto;
  width: 100vw;
  padding: 70px 0;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #eeeeee;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e00000;
  height: 2px;
  box-sizing: border-box;
  width: 70px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
  height: 30px;
}

.footer-col ul li a:hover {
  padding-left: 10px;
}

/* Responsive */

/* Header Responsive */
@media only screen and (max-width: 935px) {
  .header-menu li {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 831px) {
  .header-navbar {
    display: flex;
    flex-direction: column;
    padding: 120px 0;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 831px) {
  .header-menu a {
    font-size: 13px;
  }
}
/* Cars */
@media only screen and (max-width: 692px) {
  .carlist-row-info input[type="date"] {
    width: 90px;
  }
}
@media screen and (max-width: 1335px) {
  .carlist-row {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

@media screen and (max-width: 870px) {
  .carlist-row {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

/* Footer Responsive */
@media only screen and (max-width: 790px) {
  .footer {
    padding: 120px;
  }

  .footer-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-col {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 590px) {
  .footer-row {
    float: left;
  }
}
