@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Playfair+Display:ital@1&family=Poppins:wght@400;500;600;700;800;900&family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
a,
a:link,
a:visited {
  text-decoration: none;
  outline: none;
  border: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #eeeeee;
}

#lasthref {
  margin-right: 15px;
}

section,
span,
p {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}
.container {
  margin: 0 auto;
}

body {
  background-image: url(../../images/roadd.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  height: 8vh;
  width: 100%;
  background-color: #1b262c;
}

.header-logo {
  display: flex;
  margin-left: -5px;
  margin-top: 00.5rem;
  font-size: 16px;
}

.header-name {
  margin-left: 0px;
  margin-top: 20px;
}

.header-name h1 {
  font-size: 25px;
  color: white;
  font-family: "IM Fell English SC", serif;
}

#logo {
  width: 150px;
}

.header-menu ul {
  display: flex;
}

.header-menu li {
  color: #eeeeee;
  margin-left: 27px;
}

.header-menu a {
  font-family: "Raleway", sans-serif;
  padding: 8px 12px;
}

.header-menu a:hover {
  background-color: #787a91;
}

/* Add */
.add {
  margin-top: 190px;
  width: 900px;
  height: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.702);
  text-align: center;
}
.image {
  width: 500px;
  height: 290px;
  margin-left: 200px;
  margin-bottom: 15px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: relative;
}
.image input[type="submit"] {
  position: absolute;
  top: 90%;
  left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.image img {
  width: 400px;
  height: 250px;
  border-radius: 3px;
}
input[type="file"] {
  position: absolute;
  top: 90%;
  left: 44%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer !important;
}
input[type="file"]::-webkit-file-upload-button {
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.descriptiontext textarea {
  width: 550px;
  height: 73px;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color: white;
  text-align: center;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #eaeaea;
  border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
  background-color: #596971;
}

.description input[type="text"] {
  padding: 8px 4px;
  background-color: rgba(255, 255, 255, 0.73);
  border-radius: 3px;
  margin-bottom: 4px;
  cursor: pointer;
}
.description input[type="submit"] {
  padding: 8px 15px;
  background-color: rgba(255, 255, 255, 0.73);
  border-radius: 3px;
  margin-top: 12px;
  cursor: pointer;
}

.label {
  display: flex;
  flex-direction: column;
  padding: 8px 170px;
}

.label label {
  color: #eeeeee;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
}

.icon input {
  padding: 6px 8px;
  margin-right: 5px;
  cursor: pointer;
}
select {
  padding: 6px 8px;
  margin-right: 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.73);
}

.icon img {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

/* Responsive */

/* Header Responsive */
@media only screen and (max-width: 935px) {
  .header-menu li {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 831px) {
  .header-navbar {
    display: flex;
    flex-direction: column;
    padding: 120px 0;
    align-items: center;
    justify-content: center;
  }
  .header-menu a {
    font-size: 13px;
  }
}
/* Add car Responsive */
@media screen and (max-width: 797px) {
  .add {
    margin-top: 400px;
  }
}

@media screen and (max-width: 970px) {
  .add {
    width: 700px;
  }

  .image img {
    width: 300px;
  }
}

@media screen and (max-width: 726px) {
  .add {
    width: 550px;
  }

  .image img {
    width: 250px;
  }
}

@media screen and (max-width: 568px) {
  .add {
    width: 450px;
  }
  .label-radio label {
    color: #eeeeee;
    margin-right: 0;
  }

  .icon img {
    margin-right: 5px;
  }
}
@media screen and (max-width: 971px) {
  .add-container {
    width: 700px;
  }

  .image {
    width: 300px;
  }

  .image input[type="submit"],
  input[type="file"]::-webkit-file-upload-button {
    padding: 8px 10px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 726px) {
  .add-row h1 {
    margin-right: 130px;
  }

  .image {
    margin-left: 140px;
  }

  .descriptiontext textarea {
    width: 300px;
    margin-right: 120px;
  }

  .description {
    margin-right: 100px;
  }

  .icon {
    margin-right: 60px;
  }

  .submit {
    margin-right: 30px;
  }
}
@media screen and (max-width: 570px) {
  .add-row h1 {
    margin-right: 230px;
  }

  .image {
    margin-left: 90px;
  }

  .descriptiontext textarea {
    width: 300px;
    margin-right: 230px;
  }
  .descriptiontext h4 {
    margin-right: 210px;
  }

  .description {
    margin-right: 230px;
  }

  .icon {
    margin-right: 10px;
  }

  .submit {
    margin-right: 5px;
  }
}
