@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Playfair+Display:ital@1&family=Poppins:wght@400;500;600;700;800;900&family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
a,
a:link,
a:visited {
  text-decoration: none;
  outline: none;
  border: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #eeeeee;
}

#lasthref {
  margin-right: 15px;
}

section,
span,
p {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}
.container {
  margin: 0 auto;
}

body {
  background-image: url(../../images/roadd.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  height: 8vh;
  width: 100%;
  background-color: #1b262c;
}

.header-logo {
  display: flex;
  margin-left: -5px;
  margin-top: 00.5rem;
  font-size: 16px;
}

.header-name {
  margin-left: 0px;
  margin-top: 20px;
}

.header-name h1 {
  font-size: 25px;
  color: white;
  font-family: "IM Fell English SC", serif;
}

#logo {
  width: 150px;
}

.header-menu ul {
  display: flex;
}

.header-menu li {
  color: #eeeeee;
  margin-left: 27px;
}

.header-menu a {
  font-family: "Raleway", sans-serif;
  padding: 8px 12px;
}

.header-menu a:hover {
  background-color: #787a91;
}

/* Conditions */
.conditions-body {
  background-image: url(../images/roadd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  display: flex;
  flex-direction: column;
}
.conditions h1 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 50px;
  margin: 5px 0;
  color: black;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.question,
.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.question,
.answer span {
  color: white;
}
.C {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.C input[type="text"] {
  width: 770px;
  height: 40px;
  padding: 15px 15px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid white;
  border-radius: 3px;
  color: white;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.button input {
  width: 150px;
  height: 40px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.689);
  border: 2px solid white;
  border-radius: 3px;
  color: #eeeeee;
  cursor: pointer;
}

.button button {
  padding: 2px 6px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid black;
  color: #000;
}

/* Responsive */
@media only screen and (max-width: 935px) {
  .header-menu li {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 831px) {
  .header-navbar {
    display: flex;
    flex-direction: column;
    padding: 120px 0;
    align-items: center;
    justify-content: center;
  }
  .header-menu a {
    font-size: 12px;
  }
}
@media only screen and (max-width: 833px) {
  .C input[type="text"] {
    width: 400px;
  }
}
