@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Playfair+Display:ital@1&family=Poppins:wght@400;500;600;700;800;900&family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
a,
a:link,
a:visited {
  text-decoration: none;
  outline: none;
  border: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #eeeeee;
}

#lasthref {
  margin-right: 15px;
}

section,
span,
p {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}
.container {
  margin: 0 auto;
}

body {
  background-image: url(../../images/roadd.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  height: 8vh;
  width: 100%;
  background-color: #1b262c;
}

.header-logo {
  display: flex;
  margin-left: -5px;
  margin-top: 00.5rem;
  font-size: 16px;
}

.header-name {
  margin-left: 0px;
  margin-top: 20px;
}

.header-name h1 {
  font-size: 25px;
  color: white;
  font-family: "IM Fell English SC", serif;
}

#logo {
  width: 150px;
}

.header-menu ul {
  display: flex;
}

.header-menu li {
  color: #eeeeee;
  margin-left: 27px;
}

.header-menu a {
  font-family: "Raleway", sans-serif;
  padding: 8px 12px;
}

.header-menu a:hover {
  background-color: #787a91;
}

/* Content */
.content {
  background-color: rgba(0, 0, 0, 0.7);
}
.row {
  margin-bottom: 0;
  margin-top: 45px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  min-height: 500px;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info span {
  font-size: 70px;
  color: white;
}
.info h1 {
  font-size: 40px;
  color: white;
}
.countuser,
.countcar,
.countrents,
.countbranch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 3px;
  border: 2px solid white;
  width: 100px;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #476072de 0%, #064663c0 100%);
  margin: 10px 10%;
  height: 425px;
  width: 300px;
  border-radius: 5px;
}

.column:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.image {
  margin: 10px 10%;
  height: 40%;
  width: 80%;
}

#carimage {
  border: 2px solid #cccccc;
  padding: 1px;
  height: 100%;
  width: 100%;
}

.column h1 {
  color: white;
}

.submit input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 10px 8px;
  width: 90px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25px;
  cursor: pointer;
}

/* Responsive */

/* Header Responsive */
@media screen and (max-width: 940px) {
  .header-menu li {
    margin-left: 5px;
  }
}
@media screen and (max-width: 805px) {
  .header-navbar {
    display: flex;
    flex-direction: column;
    padding: 120px 0;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 580px) {
  .header-menu li {
    font-size: 12px;
  }
}

/* Content Responsive */
@media screen and (max-width: 1135px) {
  .row {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

@media screen and (max-width: 748px) {
  .column {
    height: 300px;
    width: 220px;
  }

  .info {
    margin-left: 40px;
  }
}
