@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Playfair+Display:ital@1&family=Poppins:wght@400;500;600;700;800;900&family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
a,
a:link,
a:visited {
  text-decoration: none;
  outline: none;
  border: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #eeeeee;
}

#lasthref {
  margin-right: 15px;
}

section,
span,
p {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}
.container {
  margin: 0 auto;
}

body {
  background-image: url(../../images/roadd.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  height: 8vh;
  width: 100%;
  background-color: #1b262c;
}

.header-logo {
  display: flex;
  margin-left: -5px;
  margin-top: 00.5rem;
  font-size: 16px;
}

.header-name {
  margin-left: 0px;
  margin-top: 20px;
}

.header-name h1 {
  font-size: 25px;
  color: white;
  font-family: "IM Fell English SC", serif;
}

#logo {
  width: 150px;
}

.header-menu ul {
  display: flex;
}

.header-menu li {
  color: #eeeeee;
  margin-left: 27px;
}

.header-menu a {
  font-family: "Raleway", sans-serif;
  padding: 8px 12px;
  font-size: 16px;
}

.header-menu a:hover {
  background-color: #787a91;
}

/* User Profile */
.user_profile {
  margin-top: 70px;
  width: 850px;
  height: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.label {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.label input {
  padding: 6px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 3px;
  border: 2px solid white;
  color: white;
}

.label label {
  color: #eeeeee;
  margin-top: 10px;
}
.feedback {
  margin-top: 2px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feedback textarea {
  border-radius: 3px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-align: center;
}
.rents {
  margin: 50px 40px;
  height: 150px;
  overflow-x: auto;
}
th,
td {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  margin-left: 10px 10px;
}
table {
  width: 100%;
}
tbody {
  height: 50px;
}
.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}
.image img {
  height: 200px;
  width: 200px;
}

.image {
  margin-top: 25px;
  border: 2px solid white;
  border-radius: 3px;
}

.information input {
  padding: 5px 20px;
}

/* responsive */
/* Header Responsive */
@media only screen and (max-width: 935px) {
  .header-menu li {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 832px) {
  .header-navbar {
    display: flex;
    flex-direction: column;
    padding: 120px 0;
    align-items: center;
    justify-content: center;
  }
  .header-menu a {
    font-size: 12px;
  }
  .user_profile {
    margin-top: 270px;
  }
}

/* User Profile Responsive */
@media screen and (max-width: 866px) {
}

@media screen and (max-width: 805px) {
  .user_profile {
    margin-top: 270px;
  }
  .profile {
    justify-content: space-evenly;
  }
  .feedback textarea {
    width: 410px;
  }
  .rents {
    width: 50%;
    margin-left: 220px;
  }
}
